KTN/KTN/Service References/KTNServiceRef/KTNService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39456/KTNService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SERVICE" />
  <xs:import schemaLocation="http://localhost:39456/KTNService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SERVICE.Dtos" />
  <xs:element name="GetRegions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SERVICE" minOccurs="0" name="type" type="q1:RegionsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SERVICE.Dtos" minOccurs="0" name="GetRegionsResult" nillable="true" type="q2:ArrayOfRegionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SERVICE.Dtos" minOccurs="0" name="GetPersonsResult" nillable="true" type="q3:ArrayOfPersonDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SERVICE.Dtos" minOccurs="0" name="GetUserResult" nillable="true" type="q4:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SERVICE.Dtos" minOccurs="0" name="GetUserByUsernameResult" nillable="true" type="q5:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>