KTN/KTN/Service References/KTNServiceRef/KTNService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KTNService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:39456/KTNService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:39456/KTNService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:39456/KTNService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SERVICE" />
      <xsd:import schemaLocation="http://localhost:39456/KTNService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SERVICE.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKTNService_GetRegions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegions" />
  </wsdl:message>
  <wsdl:message name="IKTNService_GetRegions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionsResponse" />
  </wsdl:message>
  <wsdl:message name="IKTNService_GetPersons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersons" />
  </wsdl:message>
  <wsdl:message name="IKTNService_GetPersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="IKTNService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IKTNService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IKTNService_GetUserByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUsername" />
  </wsdl:message>
  <wsdl:message name="IKTNService_GetUserByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUsernameResponse" />
  </wsdl:message>
  <wsdl:portType name="IKTNService">
    <wsdl:operation name="GetRegions">
      <wsdl:input wsaw:Action="http://tempuri.org/IKTNService/GetRegions" message="tns:IKTNService_GetRegions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKTNService/GetRegionsResponse" message="tns:IKTNService_GetRegions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersons">
      <wsdl:input wsaw:Action="http://tempuri.org/IKTNService/GetPersons" message="tns:IKTNService_GetPersons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKTNService/GetPersonsResponse" message="tns:IKTNService_GetPersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IKTNService/GetUser" message="tns:IKTNService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKTNService/GetUserResponse" message="tns:IKTNService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IKTNService/GetUserByUsername" message="tns:IKTNService_GetUserByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKTNService/GetUserByUsernameResponse" message="tns:IKTNService_GetUserByUsername_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKTNService" type="tns:IKTNService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRegions">
      <soap:operation soapAction="http://tempuri.org/IKTNService/GetRegions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersons">
      <soap:operation soapAction="http://tempuri.org/IKTNService/GetPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IKTNService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUsername">
      <soap:operation soapAction="http://tempuri.org/IKTNService/GetUserByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KTNService">
    <wsdl:port name="BasicHttpBinding_IKTNService" binding="tns:BasicHttpBinding_IKTNService">
      <soap:address location="http://localhost:39456/KTNService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>